version: '3.8'

name: devblog-app

services:
  web:
    build: .
    ports:
      - "8000:3000"
    env_file:
      - .env
    depends_on:
      - mongo
    restart: always
    volumes:
      - web-images:/app/public/images # Moved here so the app can use it

  mongo:
    image: mongo:4.0
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin123
    volumes:
      - mongo-data:/data/db 

  mongo-express:
    image: mongo-express
    restart: always
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_MONGODB_SERVER: mongo
      ME_CONFIG_MONGODB_ADMINUSERNAME: admin
      ME_CONFIG_MONGODB_ADMINPASSWORD: admin123
      ME_CONFIG_BASICAUTH_ENABLED: "true"
      ME_CONFIG_BASICAUTH_USERNAME: user
      ME_CONFIG_BASICAUTH_PASSWORD: pass
    depends_on:
      - mongo

volumes:
  mongo-data:
    driver: local
  web-images:
    driver: local

    